 .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar.top-bar {
	border-radius: 0;
	padding: 16px 0;
	z-index: 16;
}
.navbar-toggler {
	border: 1px solid #fff;
	color: #fff;
	position: absolute;
	right: 21px;
}
.sps {
	padding: 1em .5em;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.25s ease;
	width: 100%;
}
.sps--abv {
	background-color: transparent;
	color: #000;
}
.sps--blw {
	background-color: #fff;
	color: #fff;
}
.top-bar a.navbar-brand {
	color: #fff;
	font-size: 26px;
	font-weight: 800;
	padding: 5px 0 0 10px;
	text-transform: uppercase;
}
.sps--blw.top-bar a.navbar-brand {
	color: #000;
}
.top-bar a.navbar-brand span {
	color: #0297ff;
}
.top-bar .nav-link {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	padding: 12px 18px!important;
}
.sps--blw.top-bar .nav-link {
	color: #000
}
.top-bar .navbar-nav .nav-item {
	margin: 0
}
.top-bar .nav-link:hover, .top-bar .nav-item.active a {
	color: #fff;
	border-bottom: 2px solid #fff;
	border-radius: 0;
}
.sps--blw.top-bar .nav-link:hover, .sps--blw.top-bar .nav-item.active a {
	color: #0297ff;
	border-bottom: none;
	border-radius: 0;
}
.btn
{
  background-color: #ff0000;
  color: white;
  border: none;
  font-size: 16px;
  
}

.top-bar .nav-link:hover, .top-bar .nav-item.active a {

  color: red ;
  border-top: 2px solid red;
  border-bottom: none;
}

.inner {
    background-color: #ffffff;
  
  opacity: 0.6;
  height: 100%;
  width: 100%;
  filter: alpha(opacity=60);
	}

	

    
    
    .wrapper {
		padding: 6em 0 4em 0;
	}

		.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5 {
			color: #25a2c3;
		}

		.wrapper.style1 {
			background-image: url(images/arka.jpg);
			color: #fcdcd6;
		}

			.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5 {
				color: #fff;
			}

			.wrapper.style1 cite.author {
				color: #fff;
			}

      .blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}


.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

#newsletter-container {
background: #CFCECE;
padding: 27px 0;
}

#newsletter-container h3 {
font-size: 25px;
line-height: 46px;
color: #444b4c;
text-transform: uppercase;
margin: 0;
float: left;
}

h3 {
font: 19px/38px Arial,sans-serif;
margin: 50px 0 20px;
color: #e3e3e3;
text-transform: uppercase;
}

#newsletter-container form {
float: right;
}

#newsletter-container input[type=text] {
height: 46px;
width: 300px;
vertical-align: top;
margin-right: 5px;
border-radius: 4px;
border: 3px solid #84bb26;
background: #CFCECE;
line-height: 20px;
padding: 5px 10px 5px 20px;
color: #727b7c;
}

input, select, textarea {
outline: 0;
}

#newsletter-container .btn {
padding: 12px 20px;
font-size: 17px;
line-height: 20px;
}

.btn-custom-3 {
color: #fff;
background-color: #575a59;
border-color: #5c5f5e;
-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
}

.btn-custom-3:hover {
color: #fff;
background-color: #84bb26;
border-color: #94CF2E;
-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
}


::selection {
background-color: #7bae23;
color: #fff;
}

.bg-dark-light {
    background: #0c1826 !important;
}
.bg-theme, .bg-dark, .bg-dark-light, .bg-secondary {
    color: #ffffff;
}
.widgets.footer-widgets .widget-title {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    position: relative;
    padding-bottom: 15px;
}

.widgets.footer-widgets .widget-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100px;
    background: green;
}
.widgets.footer-widgets .widget-quick-links ul {
    margin-top: -4px;
}
.widgets.footer-widgets .single-widget ul {
    padding-left: 0;
    margin-bottom: 0;
}

.widgets.footer-widgets .widget-quick-links ul li {
    display: block;
}
.widgets.footer-widgets .widget-quick-links ul li a {
    display: block;
    font-size: 13px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 9px 0;
}

.widgets.footer-widgets .single-widget ul li {
    list-style: none;
    font-family: "Raleway", sans-serif;
}
.widgets.footer-widgets .widget-contact ul li {
    color: #000;
    font-size: 13px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.widgets.footer-widgets .widget-contact ul li span {
    font-size: 20px;
    color: #ffffff;
    height: 45px;
    width: 32px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    margin-right: 20px;
}
.widgets.footer-widgets .widget-contact ul li.phone, .widgets.footer-widgets .widget-contact ul li.fax {
    font-size: 15px;
}

.widgets.footer-widgets .widget-contact ul li + li {
    margin-top: 20px;
}


.kilimanjaro_part {
    margin-bottom: 30px;
}
.foo_top_header_one .kilimanjaro_part > h5 {
    color: #fff;
}
.kilimanjaro_part h4, .kilimanjaro_part h5 {
    margin-bottom: 30px;
}
.kilimanjaro_single_contact_info > p, .kilimanjaro_single_contact_info > h5, .kilimanjaro_blog_area > a, .foo_top_header_one .kilimanjaro_part > p {
    color: rgba(255,255,255,.5);
}

.foo_top_header_one .kilimanjaro_part > h5 {
    color: #fff;
}
.kilimanjaro_part h4, .kilimanjaro_part h5 {
    margin-bottom: 30px;
}
.kilimanjaro_blog_area .kilimanjaro_date {
    color: #27ae60;
    font-size: 13px;
    margin-bottom: 5px;
}
.kilimanjaro_blog_area > p {
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 0;
}
.kilimanjaro_blog_area {
    margin-bottom: 15px;
    padding: 0 0 15px 90px;
    position: relative;
    z-index: 1;
}

.kilimanjaro_thumb {
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
}
